.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-brand{
  background-image: linear-gradient(60deg,#0e0e0e,#3b3b3b);
  border:none;
  color:white;
  
}

.btn-brand:hover{
  background-image: linear-gradient(60deg,#3b3b3b,#0e0e0e);
}
.spinner{
  margin-left: 48%;
  margin-top: 22%
}
@media only screen and (max-width: 768px) {
  .spinner{
    margin-left: 40%;
    margin-top: 80%
  }
}